@import "../css/style.css";
@import "../css/header_style.css";

img {
  -webkit-user-drag: none;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #111e3e;

  font-size: 1.56vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 1.86vh;
}

main {
  display: flex;
  flex-direction: row;
}

#img_fundo {
  width: 54.03vw;
  height: 44.04vh;
  margin-top: 23.24vh;
}

#cadastro {
  border-radius: 10px;
  width: 37.99vw;
  height: 70.61vh;
  margin-top: 8.3vh;
  background-color: #222e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.22vh 0px 0px 0px;
}

#img_user_no_photo {
  width: 11.66vw;
  height: 15.49vh;
  position: relative;
  top: 0%;
  left: 0%;
}

#img_ins_photo {
  width: 3.18vw;
  height: 3.83vh;
  position: absolute;
  right: 0.18vw;
  top: 12.37vh;
}

#inserir_foto {
  width: 11.66vw;
  height: 15.49vh;
  position: relative;
}

#campos {
  margin-top: 2.17vh;
  width: 27.85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo {
  margin-top: 1.46vh;
  background-color: #d9d9d9;
  width: 27.85vw;
  height: 5.66vh;
  border-radius: 1.46vh;
  border-style: none;
  padding: 0px 0px 0px 1.39vw;
}

#genero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#genero_placeholder {
  color: #111e3e;
  opacity: 0.7;
  width: 4.03vw;
  height: 1.86vh;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 1.86vh;
  font-size: 1.56vh;
}

#genero_placeholder:hover {
  cursor: default;
}

#select {
  height: 2.56vh;
}

#select:hover {
  cursor: pointer;
}

#drop-down {
  position: absolute;
  top: 1.66vh;
  left: 24.17vw;
}

.options {
  list-style: none;
  border-width: 1px;
  border-style: ridge;
  background-color: #d9d9d9;
  border-color: black;
  padding: 0.2vh 0.3vw;
  opacity: 0;
}

.options:hover {
  cursor: default;
}

.campo::placeholder {
  color: #111e3e;
  opacity: 0.7;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 1.86vh;
  font-size: 1.56vh;
}

#link {
  margin-top: 2.64vh;
  width: 14.93vw;
  height: 1.86vh;

  color: #111e3e;
}

a {
  color: #111e3e;
}

#botao {
  margin-top: 1.66vh;
  height: 4.88vh;
  width: 19.65vw;
  align-items: center;
  justify-content: center;
  border-radius: 1.46vh;
  background-color: #d9d9d9;
  border-style: none;

  font-size: 1.56vh;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 1.86vh;
}
