@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("../css/header_style.css");
@import "../css/style.css";

/*
Ta certo
*/
a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #111e3e;
}

main {
  display: flex;
  flex-direction: row;
}

#divRec {
  border-radius: 10px;
  width: 37.99vw;
  height: 70.61vh;
  margin-top: 8.3vh;
  background-color: #222e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.22vh 0px 0px 0px;
}

#img_fundo {
  width: 54.03vw;
  height: 44.04vh;
  margin-top: 23.24vh;
}

#link {
  margin-top: 2.64vh;
  width: 14.93vw;
  height: 1.86vh;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.11vw;
  line-height: 1.86vh;
  color: #111e3e;
}

a {
  color: #111e3e;
}

#botao {
  margin-top: 1.66vh;
  height: 4.88vh;
  width: 19.65vw;
  align-items: center;
  justify-content: center;
  border-radius: 1.46vh;
  background-color: #d9d9d9;
  border-style: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.11vw;
  line-height: 1.86vh;
}

#divInfo {
  margin-top: 2.17vh;
  width: 27.85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.senha {
  margin-top: 1.46vh;
  background-color: #d9d9d9;
  width: 27.85vw;
  height: 5.66vh;
  border-radius: 1.46vh;
  border-style: none;
  padding: 0px 0px 0px 1.39vw;
}

.texto {
  margin-top: 2vh;
  width: 26.28vw;
  height: 1.86vh;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.11vw;
  line-height: 1.86vh;
  color: #ffffff;
  opacity: 0.7;
}

.texto1 {
  margin-top: auto;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.22vw;
  line-height: auto;
  color: #ffffff;
  opacity: 0.7;
}

#divText {
  margin-top: 2.17vh;
  width: 27.85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#link2 {
  text-decoration: underline;
}
