* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #111e3e;
  --border-color: #7e7e7e;
  --Post_background-color: #222e50;
  --font-color: #ffffff;
  --font-color-date: #71767b;
  --button-color: #111e3e;
}
