@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{padding: 0;
margin: 0;
box-sizing: border-box;
} 
/*
Ta certo
*/
a{
    text-decoration: none;
}

header{
    width: 100vw;
    height: 86px;

    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;

    background-color: #8BC34A;
}

body{
    font-family: 'Inter', sans-serif;
}

.cjrLogoHeader{
    background-color: #d9d9d9;
    height: 3rem;
    width: 124px;

    border-radius: 16px;
    /* Usado para posicionar obejtos */
    display: flex;
    /* coloca os objetos verticalmente no centro */
    align-items: center;
    /* coloca os objetos horizontalmente no centro */
    justify-content: center;
}


.cjrLogoHeaderImg{
    width: 60px;
    height: 36px;
    margin: auto;
}

/* Não ta certo */

.entrar{
    background-color: #222E50;
    color: #FFFFFF;
    border-radius: 16px;
    padding: 15px 21px;
    font-weight: bold;


}


.mainDiv{
    box-sizing: border-box;

    width: 100vw;
    height: calc(100vh - 86px);

    background-color: #111E3E;
    border: 1px solid #000000;
}

.criarConta{
    color: #222E50;
    font-weight: bold;
    margin-right: 10px;

}

